<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ufu.ru"
        versionCode="11" 
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->

    <name>RU-UFU</name>

    <description>
      Aplicativo RU da Universidade Federal de Uberlândia
    </description>

    <author href="https://facebook.com/adilmarcoelho" email="adilmarcoelho@hotmail.com">
        Adilmar Coelho Dantas
    </author>
	
	
	
	 <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon src="icon.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon.png"  gap:platform="android"    gap:density="hdpi" />
    <icon src="icon.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="icon.png"         gap:platform="webos" />
    <icon src="icon.png"  gap:platform="winphone" />
    <icon src="icon.png" gap:platform="winphone"   gap:role="background" />
	

</widget>
